body {
	font-family: Georgia, Times, Times New Roman, serif;
}

img {
	border:none;
}

.form-control{
	width:auto;
	display:inline;
}

.form-pull-left{
	float:left;
	margin-left: 10px;
}

input[type="text"]
{
	max-width:100px;
}


.ui-state-highlight
{
	height: 1.5em; 
	line-height: 1.2em;
	background:rgba(0,162,0,0.5);
}

#filmStackVisual
{
	width:300px;
	border:1px solid black;
	padding: 1px;
}

#substrate{
	background-color:#c0c0c0;
	min-height:100px;
}

#photoresist
{
	background-color:#b10000;
	min-height:100px;
	/*color:#afafaf;*/
}

#barc
{
	background-color:#009d4f;
	min-height:50px;
}

#poly
{
	background-color:#5f5f5f;
	min-height:10px;
}

.filmLayerLabel
{
	width:inherit;
	height:inherit;
	vertical-align: bottom;
	text-shadow:1px 1px 2 #ffffff;
}